<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.cn" connectionString="Data Source=PIEROPC\SERVER;Initial Catalog=dbfacturacion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>